.App {
  text-align: center;
}

.submitButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  margin: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.deleteButton {
  background-color: #DC143C; /* Red */
  border: none;
  color: white;
  padding: 10px 22px;
  margin: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

input {
  width: 210px;
}
